.skills {
    padding-top: 103px;
    &__title {
        text-align: center;
        margin-bottom: 92px;
    }
    &__wrapper {
        display:grid;
        grid-template-columns: repeat(3, minmax(435px, auto));
        grid-template-rows: repeat(2,minmax(531, auto));
        gap: 20px;
    }
    &__item{
        background-color: #F5F5F5;
        &-flex {
            display: flex;
            flex-direction: column;
            padding: 0 30px 30px;
        }
        &-wrap {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
        }
        &-horizontal {
            grid-column: 2/4;
            grid-row: 2/4;
            padding: 30px 25px 40px 40px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &-vertical {
            grid-column: 1/2;
            grid-row: 1/4;
            display: flex;
            flex-direction: column;
            padding: 0 40px;
        }
    }
    &__image {
        text-align: center;
        &-mb45 {
            margin-bottom: 45px;
        }
    }
    &__descr {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $main-color;
        margin-bottom: 30px;
        &-width {
            width: 335px;
        }
    }
    &__btn {
        color: #FFFFFF;

    }
}